.login-card{
    /* box-shadow: x-offset y-offset blur-radius spread-radius color; */
    box-shadow: 2px 5px 10px rgba(255,0, 0, 0.486);
    max-width: 350px;
    border-radius: 20px;
    padding: 20px;
    /*  */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.login-card h1{
    color: rgb(140,15 ,15)
}
 .Login-field input{
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: aqua;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
 }
 .login-field button{
    margin-top: 10px;

    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
 }
 .Login-button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
 }